:root {
  --color-white: hsl(0, 0%, 100%);
  --color-lightgray: hsl(212, 45%, 89%);
  --color-grayblue: hsl(220, 15%, 55%);
  --color-darkblue: hsl(218, 44%, 22%);
}
/*containers*/
html {
  background-color: var(--color-lightgray);
  font-family: Outfit, sans-serif;
}
body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0 auto;
  width: 375px;
  height: 500px;
  text-align: center;
  border-radius: 15px;
  padding-top: 15px;
  background-color: var(--color-white);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* top area - image*/
img {
  margin: 0 auto;
  width: 90%;
  border-radius: 15px;
}

/*text areas*/
@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
p {
  font-weight: 400;
  font-size: 15px;
  color: var(--color-grayblue);
  padding: 0 55px 50px;
  margin: 0;
}
h1 {
  font-weight: 700;
  color: var(--color-darkblue);
  font-size: 1.5rem;
  padding: 0px 30px 0;
}
.attribution {
  font-size: 11px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* large screen size*/
@media screen and (min-width: 1440px) {
}

/* <style>

</style>

- Mobile: 375px
- Desktop: 1440px
*/
